*.class
src/JJTree/*
!src/JJTree/SyntacticAnalyser.jjt
!src/JJTree/SimpleNode.java
!src/JJTree/JJTreeRunner.sh
!src/JJTree/JJTreeRunner.bat

*.classpath
*.project

*.exe
*.out
_TUNER_FILE_WITH_COMPLETE_SOURCE_CODE_TO_TEST.c
output.txt

.idea
*.iml
out
