*.class
JJTree/*
!JJTree/SyntacticAnalyser.jjt
!JJTree/SimpleNode.java
!JJTree/JJTreeRunner.sh
!JJTree/JJTreeRunner.bat

*.classpath
*.project

*.exe
*.out
_TUNER_FILE_WITH_COMPLETE_SOURCE_CODE_TO_TEST.c

.idea
*.iml
out
